/* Espaço no topo da página */
body {
  padding-top: 70px;
}

/* Sidebar padrão (fechada) */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  background-color: #323435ca;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  z-index: 1000;
  transition: width 0.3s ease;
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* altura da barra */
  background-color: #323435ca; /* cor escura, estilo navbar */
  z-index: 1030; /* sobreposição acima do sidebar */
}
/* Sidebar quando aberta */
.sidebar.show {
  width: 110px;
  width: 100px;
  align-items: flex-start;
  padding-left: 20px;
}

/* Imagem/logo da sidebar */
.sidebar img {
  width: 30px;
  height: 30px;
  margin-bottom: 30px;
  width: 40px;
  height: 40px;
}
/* Links da sidebar */
.sidebar a {
  color: #00ff84;
  text-decoration: none;
  font-size: 20px;
  margin: 17px 0;

  font-size: 23px;
  margin: 30px 0;
  font-size: 20px;
  margin: 17px 0;

  font-size: 22px; /* Mantém o tamanho da fonte */
  margin: 15px 0; /* Reduz o espaço entre os links */
  padding: 5px 2px; /* Ajusta o tamanho da área clicada */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: color 0.3s ease, transform 0.3s ease; /* Suaviza a animação */
}

/* Links da sidebar quando aberta: alinhar à esquerda */
.sidebar.show a {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Hover nos links */
.sidebar a:hover {
  color: #ffffff;
  background-color: #1c262b;
  border-radius: 8px; /* Ajusta o arredondamento */
}
/* Ícone + texto */
.sidebar .icon-text {

  font-size: 12px;
  margin-top: 5px;
  color: white;
  display: none;
}

/* Mostrar descrições quando a sidebar estiver aberta */
.sidebar.show .icon-text {
  display: inline;
  margin-top: 0;
}

/* Conteúdo principal */
.content {
  margin-left: 120px;
  margin-left: 20px;
  transition: margin-left 0.3s ease;
}

/* Conteúdo deslocado quando a sidebar está expandida */
.sidebar.show ~ .content {
  margin-left: 250px;
  margin-left: 130px;
  transition: margin-left 0.3s ease;
}

/* Ajuste para que o conteúdo e sidebar desça após a topbar */
.sidebar {
  margin-top: 60px;
}

.content {
  margin-top: 60px;
}
/* Estilo para os ícones da sidebar */
.sidebar a i,
.sidebar img {
  transition: transform 0.3s ease; /* Suaviza a animação */
}
.sidebar a:hover i,
.sidebar a:hover img {
  transform: scale(1.5); /* Aumenta o tamanho em 50% */
}